{% extends "base.html" %}

{% block navbar %}
    <li><a href="/admin/classes/{{section.ucsd_id}}/">Classes</a></li>
    <li class="active">{{section.course_name}} Lectures</li>
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='bootstrap-datepicker.js') }}"></script>
<link href="{{ url_for('static', filename='datepicker.css') }}" rel="stylesheet" />

<div class="page-header">
  <h1>{{section.course_name}} <small>{{section.quarter}} {{section.year}}</small></h1>
</div>

<form role="form" method="post">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lecture</th>
            <th>Date</th>
            <th><div class="text-center"># of Questions</div></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for lecture in lectures %}
        <tr>
            <td>Lecture {{loop.index}}</td>
            <td>{{lecture.date.strftime('%B %d, %Y (%a)')}}</td>
            <td><div class="text-center">{{lecture.count}}</div></td>
            <td><a href="/admin/questions/{{lecture.id}}/">Edit</a></td>
            <td><button name="delete-lecture" type="submit" class="btn btn-xs btn-danger" value="{{lecture.id}}">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>

{% endblock %}