{% extends 'base.html' %}
{% block navbar %}
    <li class="active">Markr</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form class="form-signin" role="form" method='post'>
                <div class="form-group">
                    <div class="text-center">
                        <img src="{{ url_for('static', filename = 'icon.png') }}">
                    </div>
                </div>

                <div class="form-group">
                    <input type="input" name="id" class="form-control" placeholder="Teacher ID" required autofocus>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}