<body><center>
<section id="loginBox">
	<h2>Login</h2>
	<table  border='2'>
		<tr>
			<td>
				<label for="username">
					Username:
					<input type="text" name="username" id="username" placeholder="UCSD User Name" pattern="^[a-zA-Z][a-zA-Z0-9-_.]{8,20}$" required="required" />
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<label for="password">
					Password:
					<input type="password" name="password" id="password" placeholder="UCSD Password" pattern="(?=^.{8,}$)((?=.*d)|(?=.*W+))(?![.n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
				</label>
			</td>
		</tr>
	</table>		
		<button type="submit" class="btn-minimal">Sign in</button>	
</section>
</body></center>